# Ignore all .zip files
*.zip
# Ignore everything in every subdirectory except Dynamic, Export, and 25th_hour
!Dynamic/**
# Include every sub directory of the above

# */
0wj1biqk.f41
1lzdkpe2.yez
4obolwxa.lie
4yvhquwl.pcv
4zxbgz4g.jnx
abqqpcp4.hv3
dhedda5q.cf2
zmijuhra.1n3
fl3ivp32.oaj
g21ruk0a.yx1
if2hulsm.y5c
iqdvd4pt.jyo
lgz4xpht.sjn
mrn3a0m5.0lk
nps35xrp.5eh
ptpcxvcd.hlz
rtnm43pj.wyl
wxqfmbno.3vk
xn0quq52.bq2