/* ----------- Clock ----------- */
.info-container { 
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 8;
    font-size: xxx-large;
    font-weight: 900;
    color: white;
    opacity: 0.7;
    font-family: monospace;
}
.clock {
    display: block;
}
.weather {
    /* display: flex; */
    display: none;
}
.weather-temp {
    padding-left: 0px;
}
.weather-temp::after {
    content: "°";
}
  
  