
div.visualiser {
    margin: 0;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
    overflow: hidden;
    user-select: none;
}
body > div.visualiser > div > span > h1 {
    margin-top: 13px;
}
    
canvas {
    display: block;
}
    